# Unity specific
[Ll]ibrary/
[Tt]emp/
Obj/
Build/
Builds/
UserSettings/

# User-specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# JetBrains Rider
.idea/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
